/*login登录页面*/

.login_dv {width:295px;height:338px;background-color:#fff;position:absolute;top:50%;left:50%;margin:-205px 0 0 -198px;border:1px solid #d2d2d2;padding:36px 50px;border-radius:3px; }

.login_dv input[type=text],.login_dv input[type=password]{display:block;padding:14px 18px;width:260px;font-size:14px;border-radius:37px;border:1px solid #afc1e1;margin-top:22px;}

.login_dv input[type=button] {text-align:center;padding:14px 18px;color:#fff;background-color:#1f3e73;border:1px solid #1f3e73;width:100%;font-size:18px;border-radius:37px;margin-top:22px;}

.forget_psw {display:block;text-align:center;color:#606060;margin-top:30px; }

/*login登录页面End*/



/*主页面*/

.main_top iframe {width: 100%; position: absolute; top: 0; left: 0; border: 0px; }

.main_left {width:183px;float:left; }

.main_container {/*position: absolute; overflow: hidden; top: 0px; left: 203px;right: 0; bottom: 0;*/margin-left:183px;}

.main_container iframe {/*position: absolute; top: 0; left: 0; right: 0; bottom: 0;*/ width: 100%; /*height: 100%;*/ min-height:725px;}

.main_bottom { margin-top:17px;}

.main_bottom iframe { width: 100%; border: 0px;vertical-align:bottom;}



input[type=button], input[type=reset], input[type=button] {cursor:pointer; }





/*菜单*/

.main_left{background-color:#23305A;min-height:730px;}

.main_left h3 {    font-weight: 500;color:#fff;font-size:16px;background:url('../../images/home/menu_bg.jpg') no-repeat;height:44px;width:183px;line-height:46px;text-indent:46px;cursor:pointer;}

.main_left a {display:block;height:41px;line-height:41px;color:#fff;background:url('../../images/home/mune_dot.png') 22px center no-repeat;text-indent:55px;}

.main_left .icon-home{
	background-image: url("../../images/home/home.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	z-index: 5;
	left: 0px;
	position: absolute;
	width: 46px;
	height: 46px;
	
	
}
.main_left .icon-setting{
	background-image: url("../../images/home/setting.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	z-index: 5;
	left: 0px;
	position: absolute;
	width: 46px;
	height: 46px;
	
	
}
.main_left .icon-briefcase{
	background-image: url("../../images/home/briefcase.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	z-index: 5;
	left: 0px;
	position: absolute;
	width: 46px;
	height: 46px;
	
	
}

.main_left .icon-write{
	background-image: url("../../images/home/write.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	z-index: 5;
	left: 0px;
	position: absolute;
	width: 46px;
	height: 46px;
	
	
}
.main_left .icon-cz{
	background-image: url("../../images/home/cz.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	z-index: 5;
	left: 0px;
	position: absolute;
	width: 46px;
	height: 46px;
	
	
}

.main_left .icon-tx{
	background-image: url("../../images/home/tx.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	z-index: 5;
	left: 0px;
	position: absolute;
	width: 46px;
	height: 46px;
	
	
}


.main_left .icon-gg{
	background-image: url("../../images/home/gg.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	z-index: 5;
	left: 0px;
	position: absolute;
	width: 46px;
	height: 46px;
	
	
}
.main_left .icon-logout{
	background-image: url("../../images/home/logout.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	z-index: 5;
	left: 0px;
	position: absolute;
	width: 46px;
	height: 46px;
	
	
}

.main_left .icon-jt{
	background-image: url("../../images/home/jt.png");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	z-index: 5;
	left: 138px;
	position: absolute;
	width: 42px;
	height: 42px;
	
	
}

/*菜单End*/



/*主页面End*/



.box897 {width:797px;background-color:#fff;}

.title {color:#323232;font-size:16px;line-height:46px;border-bottom:1px solid #e5e5e5;text-indent:23px;}

.table_title {font-weight:bold;color:#000;background-color:#cfd6e3;height:36px;text-align:center;line-height:36px;}

td {height:46px;/*border:1px solid #e5e5e5;*/}

table{border-collapse:collapse;border-spacing:0;border-left:1px solid #e5e5e5;border-top:1px solid #e5e5e5;}

th,td{border-right:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;vertical-align:middle;text-align:center;}

.red { color:#ff0000}

.blue { color:#1f3e73;}



.field_sp {display:inline-block;width:339px;text-align:right;color:#525252;line-height:37px;*line-height:37px;*vertical-align:top;height:37px;}

input[type=text],select,input[type=password]{padding:8px 11px;width:203px;color:#525252;border:1px solid #e5e5e5;}



.form_dv div{margin-bottom:12px;}



.select_border { width: 225px; height: 37px; *background: #fff; background: #fff; *border: 1px solid #e5e5e5; *padding:10px 4px; *height: 20px;display:inline-block;/*position:absolute;*/*margin-left:-2px}

.container { *border: 0; *position: relative; *height: 37px; *overflow: hidden; }

.select {height: 37px;width: 227px; *width: 216px; margin: -1px;}

div.select_border, .form_dv div.container { *width: 216px;margin-bottom:0px;}

.yanzhengma { margin-left:5px;vertical-align:middle;margin-top:-3px;display:inline-block;*display:inline;*margin-top:-18px;}

input[type=button],input[type=reset],input[type=button]{padding:11px 0;width:105px;font-weight:bold;color:#fff;border:0px;border-radius:28px;margin-right:10px;}

input[type=button],input[type=button]{ background-color:#1f3e73;}

input[type=reset] {background-color:#52b54d; }



.page {text-align:center;}

.page .num{    margin-left: 2px;

    margin-right: 2px;}

.page .current{ color:#fff;background-color:#1f3e74;border:1px solid #1f3e74;padding:7px 12px;display:inline-block;    margin-left: 2px;

    margin-right: 2px;}

.page a {color:#515151;background-color:#f4f4f4;border:1px solid #bfbfbf;display:inline-block;padding:7px 12px;}

.page a .current{ color:#fff;background-color:#1f3e74;border:1px solid #1f3e74;padding:7px 12px;}

.t1 {position:absolute;display:inline-block;font-size:18px;font-weight:normal;}

.myWallet span{color:#000;line-height:46px;display:inline-block;width:25%;text-align:center;*float:left;*display:block;}

.myWallet {overflow:hidden;border-left:1px solid #d9d9d9;border-right:1px solid #d9d9d9;}

.applyMoney {text-align:center;}

.applyMoney span {line-height:37px;*margin-top:-18px;*display:inline-block;*vertical-align:middle;}

.applyMoney input[type=button] {background-color:#52b54d;padding-top:7px;padding-bottom:7px;margin-left:8px; }

.applyMoney { margin-bottom:19px;}





/*默认页面*/

.default_dv {padding:5px 20px 0; }

.default_top { overflow:hidden;border-bottom: 1px solid #ececec;padding-bottom: 10px;}

.default_top span{display:inline-block;  line-height:35px;font-size:16px;width:250px;}

.default_top b { color:#1f3e73;font-size:16px;font-weight:normal;line-height:25px;}

.GPHelp { padding-top:25px;text-align:center;margin-top:25px;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}

.GPHelp a { display:inline-block;padding:13px 90px;font-size:25px;color:#fff;border-radius:33px;margin-left:15px;}

.PH { background-color:#1f3e73}

.GH { background-color:#52b54d}

.help_info { font-size:18px;color:#1f3e73;padding:20px 0;}

.announcement h3{font-size:16px;font-weight:bold;line-height:50px;margin-right:105px;border-bottom:1px solid #eeeeee;margin-top:10px;}

.announcement ul {margin-top:10px; }

.announcement li {border-bottom:1px dashed #a7a7a7;padding:15px 0;background:url('../../images/home/dot.jpg') 10px center no-repeat;text-indent:20px;}

.news_title {height:19px;overflow:hidden;}

.news_datetime {float:right;color:#525252;*margin-top:-37px; }

/*默认页面End*/



.support_btn {float:right;display:block;padding:8px 25px;background-color:#52b54d;border-radius:19px;line-height:14px;color:#fff;font-weight:bold;text-align:center;text-indent:0px;margin-top:10px;*margin-top:-38px;margin-right:15px;}

.userName {color:#525252;text-align:center;margin-bottom:20px;}

/*a  upload 上传按钮样式*/

.a-upload {

    padding: 10px 50px;

    height: 20px;

    line-height: 20px;

    position: relative;

    cursor: pointer;

    color: #fff;

    background: #1f3e73;

    border: 1px solid #ddd;

    overflow: hidden;

    display: inline-block;

    *display: inline;

    *zoom: 1

}



.a-upload  input {

    position: absolute;

    font-size: 100px;

    right: 0;

    top: 0;

    opacity: 0;

    filter: alpha(opacity=0);

    cursor: pointer

}



.a-upload:hover {

    color: #fff;

    background: #1f3e73;

    border-color: #1f3e73;

    text-decoration: none

}

/*C表状态图*/

.status_1{

	background:url('../../images/home/1.png') 10px 4px no-repeat;

}.status_2{

	background:url('../../images/home/2.png') 10px 4px no-repeat;

}.status_3{

	background:url('../../images/home/3.png') 10px 4px no-repeat;

}.status_4{

	background:url('../../images/home/1.png') 10px 4px no-repeat;

}.status_5{

	background:url('../../images/home/1.png') 10px 4px no-repeat;

}.status_6{

	background:url('../../images/home/1.png') 10px 4px no-repeat;

}.status_7{

	background:url('../../images/home/2.png') 10px 4px no-repeat;

}

