body{word-wrap:break-word;font-family: 'Microsoft YaHei';}
a,a:link{cursor: pointer;text-decoration: none;}
#backland{width: 960px;margin: 0 auto;height: 600px;background:url(../img/ui/backgroup_01.png);position: relative;overflow: hidden;}
#lefttop{position: absolute;width: 221px;height: 100px;left: 10px;top: 0px;text-align: left;padding: 5px;background: url(../img/ui/userinfo.png);font-size: 12px;z-index:2;color: white}
#lefttop span{display:inline-block;}
#lefttopother{position: absolute;width: 221px;height: 100px;left: 10px;top: 110px;text-align: left;padding: 5px;background: url(../img/ui/userinfo.png);font-size: 12px;z-index:1;color: white;display: none}
#lefttopother span{display:inline-block;}
#righttop{position: absolute;width: 300px;height: 50px;right: 10px;top: 1px;text-align: right;padding: 5px;z-index:2}
#righttop span{display:inline-block;width: 53px;line-height: 30px}
#leftcenter{position: absolute;width: 30px;height: 250px;left: 10px;top: 250px;padding: 5px;z-index:1}
#leftcenter span{display:inline-block;width: 53px;height: 60px}

#closemenu{position: absolute;right: -40px;bottom:130px;line-height: 10px;width: 40px;display: none;cursor: pointer;z-index: 10;background: url(../images/x.png);height:40px}
#bottomcenter span{display:inline-block;width: 95px;margin-top: -20px;position: relative;cursor: pointer;}
#bottomcenter span font{position: absolute;left: 30px;bottom: -10px;color: white;font-size: 20px}
#bottomcenter #itemsul{position: absolute;width: 566px;height: 95px;left: -30px;bottom: 75px;z-index:1;text-align: left;background: url(../images/detail.png) no-repeat;opacity:0.8}
#cornerright{position: absolute;right: 17px;bottom: 0px;height:60px;width: 70px;}
#cornerrighttext{height: 14px;width: 40px;background: none;border: 0;color: white;outline: none}
#bottomcenter #menudiv{width:376px;margin-left: 60px;height:85px;overflow: hidden;white-space: nowrap;position: relative;}
#bottomcenter #itemsul ul{white-space: nowrap;position: absolute;left: 0;top:15px}
#bottomcenter #itemsul img{border: 2px solid #dbcf9f;border-radius:10px}
#wordleft{position: absolute;left: 5px;bottom: -10px;cursor: pointer;background: url(../img/ui/kuang3.png) no-repeat;height:68px;width: 26px;font-size: 18px;padding-left: 5px;padding-top: 14px;color: violet;line-height: 18px}
#fontleft{position: absolute;left: 30px;bottom: 0px;cursor: pointer;background: url(../img/ui/left.png) no-repeat;height:34px;width: 28px;}
#fontright{position: absolute;right: 105px;bottom: 0px;cursor: pointer;background: url(../img/ui/right.png) no-repeat;height:34px;width: 28px;}
#bottomleft{position: absolute;width: 150px;height: 20px;left: 10px;bottom: 20px;padding: 5px;z-index:1}
#bottomleft span{display:inline-block;width: 30px;}
#dailylist{position: absolute;width: 100px;height: 100px;left: 10px;bottom: 30px;z-index:1;background: #eee;}
#xclo{position: absolute;right: 0px;top: 0px;z-index:2;cursor: pointer;}
#bottomright{position: absolute;width: 100px;height: 20px;right: 40px;bottom: 33px;padding: 5px;z-index:1}
#bottomright img{cursor: pointer;}
#bottomright .home{position: absolute;right: -25px}
#rightcenter{position: absolute;width: 30px;height: 450px;right: 0px;top: 100px;z-index:4;overflow: hidden;}
#rightcenter .friendiv{background: url(../img/ui/friend.png);position: relative;width: 228px;height: 438px;padding-top:10px;text-align: left;padding-left: 40px;color:white}
#rightcenter #sortmenu{width: 85%;}
#sortmenu span{display: inline-block;width: 60px;height: 20px;background: #3b1804;text-align: center;vertical-align: middle;}
#sortmenu a{display: block;font-weight: bold;color: #a63900;text-decoration: none}
#rightcenter #out{height: 380px;width: 188px;position: relative;}
#insul{height: 340px;position: absolute;left: 0;top: 0;width: 100%;background: #fff2d7;color: #786114}
#insulbottom{height: 40px;position: absolute;left: 0;bottom: 0;width: 100%;color: white;}
#insulbottom a{color: white;text-decoration: none;cursor: pointer;}
#insulbottom img{vertical-align: middle;cursor: pointer;}
#insulbottom span{display: inline-block;background: url(../img/ui/kuang2.png);width: 64px;height: 20px;vertical-align: middle;text-align: center;}
#rightcenter .clickfriend{position:absolute;width: 30px;height: 120px;left: 3px;top:150px;cursor: pointer;}
#rightcenter tr{cursor:pointer;line-height: 20px}
#rightcenter tr:hover{background: #ad837d;}
#center{position: absolute;left: 100px;bottom: 200px;padding: 5px;z-index:1}
#ptable{padding-left: 30px;padding-top: 60px;}
#ptable td{width: 61px;height: 27px;position: relative;}
#ptable .titlediv{width: 110px;height: 20px;position: absolute;color:white;left: 10px;bottom:100px;display: none;z-index:100;text-align: center;}
#ptable .tipdiv{width: 110px;height: 20px;position: absolute;color:yellow;left: 10px;bottom:90px;display: none;z-index:5}
#ptable .landimg{position: absolute;width: 125px;height: 60px;left: 0;bottom: 0}
#ptable .cropimg{position: absolute;left: 2px;bottom: 2px}
#ptable .jiesuoimg{position: absolute;left: 38px;bottom: 30px;cursor: pointer;z-index: 2;}
.makeland{position: absolute;left: 25px;bottom:20px;width: 70px;height: 35px;z-index:2;background: #000000; opacity:0;}
.line li{display: inline-block;width: 43px;text-align: center;}
.line li a{display: block}
.tline li{display: inline-block;width: 100px;text-align: center;position: relative;margin-left: 20px}
.tline li a{display: block}
.tline li img{border-radius:10px}
.tline div{cursor: pointer;}
.noline{width:520px;height: 78px;margin-top: 145px;}
.mix{display: inline-block;text-align: center;width: 70px;height: 78px;position: relative;cursor: pointer;background: url(../img/ui/bg2.png);position: relative;}
.mix img{position: absolute;bottom:17px;left: 15px}
#noline{display: inline-block}
#noline>.baseimg{display: inline-block;position: relative;width: 25px}
.baseimg img{position: absolute;bottom: 30px;left: 5px}
.bg3{background: url(../img/ui/bg3.png);width: 520px;height: 195px;margin-top: 10px}
#table1 th{text-align: right;}
#ul2 li{width:182px;height:105px;background: url(../../images/home/shop/buydiv.png) no-repeat;margin-left: 10px;margin-top: 10px;position: relative;color: #6a6a6a;}
#boul{margin-top: 5px}
#boul li{width:285px;height:150px;margin-left: 10px;display: inline-block;text-align: center;}
#boul li>div{background: white;height:140px;position: relative;border-radius:5px}
.boulname{font-size: 14px;color:#0099ff}
.boulcontent{color: #7a0000;text-align: left;position: relative;}
.boulcontent span{color: #0099ff}
.boulcontent img{position: absolute;top: 90px;left: 90px;cursor: pointer;}
#ul3{margin-top:10px;margin-left: 10px}
#ul3 li{height:66px;position: relative;}
#uldepot li{height:60px;margin-left: 5px;}
.bottomlevel{position: absolute;left: 0px;bottom: 2px;color: #966614;width: 42px;height: 11px;background: #e5e5e5;opacity:0.5;font-size: 11px;line-height: 10px}
.toplock{position: absolute;right: 0px;top: 2px;background: url(../img/ui/lock.png) no-repeat;width: 18px;height: 20px;cursor: pointer;}
#userleveltip{position: absolute;left: 30px;height: 16px;display: none}
#bountymenu{margin-top: 50px;margin-left: 20px}
#bountymenu li{background:#aaa;font-size: 14px;background-position: center;display: inline-block;width: 100px;text-align: center;}
#bountymenu li a{display: block}
#posttask{position: absolute;right: 10px;top:55px;text-decoration: none;color: olive;}

.mixhis{position: absolute;left: 45px;top:120px;width: 515px;height: 25px;background: url(../img/ui/ima.png) no-repeat;font-size: 13px;line-height: 20px;color: #633923;padding-left: 20px}
.eout{position: relative;height: 82px;width: 490px;}
.eout>img{position: absolute;left: 5px;top:0px}
.ein{overflow: hidden;width: 460px;height: 80px;margin-left: 10px;margin-left: 30px}
.ein .tline li{width: 75px;margin-left: 0px;background: #eeda93;border: 1px solid #dab591;border-radius:2px;}
.escrollBar{position:absolute;width: 480px;height: 2px;background: url(../img/ui/pullpro.png);right: -3px;bottom:4px;}
.ehandle{position:relative;height:11px;background: url(../img/ui/pullproh.png) no-repeat;margin-top: -3px}
.ecohide{position: absolute;width: 50px;height: 50px;left: 12px;top: 0px;z-index:5;background:url(../img/ui/on1.png) no-repeat;display: none}

.userl{position: absolute;left: 10px;top:20px;background: white;width: 150px;height: 310px;color: #8a4508;border: 1px solid #c4b8a0;border-radius:10px}
.userl img{width: 100px;margin-left: 26px;margin-top: 10px}
.userr{position: absolute;right: 10px;top:20px;background: white;width: 340px;height: 310px;color: #7e3e08;border: 1px solid #c4b8a0;border-radius:10px}

#fwin_gfarm .t_l,#fwin_gfarm .t_c,#fwin_gfarm .t_r,#fwin_gfarm .m_l,#fwin_gfarm .m_r,#fwin_gfarm .b_l,#fwin_gfarm .b_c,#fwin_gfarm .b_r{ background:none;opacity:0;display:none}
#fwin_gfarm1 .t_l,#fwin_gfarm1 .t_c,#fwin_gfarm1 .t_r,#fwin_gfarm1 .m_l,#fwin_gfarm1 .m_r,#fwin_gfarm1 .b_l,#fwin_gfarm1 .b_c,#fwin_gfarm1 .b_r{ background:none;opacity:0;display:none}


/*****************排行榜start********************/
#ranking_gfarm .t_l,#ranking_gfarm .t_c,#ranking_gfarm .t_r,#ranking_gfarm .m_l,#ranking_gfarm .m_r,#ranking_gfarm .b_l,#ranking_gfarm .b_c,#ranking_gfarm .b_r{ background:none;opacity:0;display:none}
#ranking_gfarm1 .t_l,#ranking_gfarm1 .t_c,#ranking_gfarm1 .t_r,#ranking_gfarm1 .m_l,#ranking_gfarm1 .m_r,#ranking_gfarm1 .b_l,#ranking_gfarm1 .b_c,#ranking_gfarm1 .b_r{ background:none;opacity:0;display:none}

/*****************排行榜end********************/

.pg_gfarm .t_l, .t_r, .b_l,.b_r, .t_c, .b_c, .m_l, .m_r{display:none}
.pg_gfarm #fwin_dialog .m_c{background:url(../img/ui/tipbg.png) no-repeat;width: 450px;height: 230px}
.pg_gfarm #fwin_dialog .m_c .flb em{display: none}
.pg_gfarm #fwin_dialog .flbc{background: url(../img/ui/exit.png) no-repeat;width: 40px;height: 40px;margin-top: -30px}
.pg_gfarm #fwin_dialog .pnc{background: url(../img/ui/sure.png) no-repeat;width: 92px;height: 32px;border-width: 0px;margin-right: 30px}
.pg_gfarm #fwin_dialog strong{display: none}
.pg_gfarm #fwin_dialog .m_c .o{background:none;border:0;padding-top:0;padding-bottom: 20px}
.pg_gfarm #fwin_dialog .alert_right,#fwin_dialog .alert_info{line-height: 20px}
.pg_gfarm #fwin_dialog .altw{width: 390px;height: 75px;padding-top:10px;color: #db9c29}
.pg_gfarm #fwin_dialog .alert_info,.pg_gfarm #fwin_dialog .alert_error{line-height: 32px}
.taskclass{padding:5px 10px;text-align: left;width: 365px;height: 275px;position: relative;}
.taskclose{position: absolute;right: -5px;top:5px;background: url(../img/ui/x.png);width: 40px;height: 40px;cursor: pointer;}
.taskcontent{position: absolute;top:50px;width: 300px;padding-left: 10px;color: #7a0000;font-size: 14px;}
.taskcontent span{color: #0099ff}
.shopclass{padding:5px 10px;text-align: left;width: 660px;height: 500px;position: relative;}
.shoptitle{position: absolute;left: 285px;top:6px;}
.shopclose{position: absolute;right: -10px;top:0px;background: url(../../images/home/shop/x.png);width: 40px;height: 40px;cursor: pointer;}
.shopattr{position: fixed;width: 155px;min-height: 32px;max-height:150px;overflow:hidden;background: url(../../images/home/shop/attr.png);padding: 5px;text-align: left;display: none;z-index:99;border: 1px solid rgb(166,138,39);border-radius:5px}
.showattr{height: 45px;width: 45px}
.showimg{height: 55px;width: 55px}
.showimg+span{position: absolute;left: 10px;bottom: 0;width: 55px;height: 14px;text-align: center;line-height: 14px;color: #be7936;display: inline-block;background: #f3e5b4;opacity:0.8}
.shopbottom{position: absolute;left: 11px;bottom:10px;color: #bf7c40;text-align: center;}
.shopbottom span{display: inline-block}
.shopname{width: 105px}
.buybotton{width: 40px;height: 16px;margin-left: 4px;cursor: pointer;}
#shopscrollbartop{position:absolute;width: 32px;height: 28px;background: url(../../images/home/shop/top.png);right: 0px;top:0px;cursor: pointer;}
#shopscrollBars{position:absolute;width: 2px;height: 340px;background: url(../../images/home/shop/lagan.png);right: 15px;top:27px;}
#shopscrollbarbottom{position:absolute;width: 32px;height: 28px;background: url(../../images/home/shop/bottom.png);right: 0px;bottom:5px;cursor: pointer;}
#shophandles{position:relative;width:6px;background: url(../../images/home/shop/lakuai.png) no-repeat;margin-left: -2px;}

#outs{height: 400px;width: 630px;position: relative;margin-left: 10px;;background: #eee9d3;border-radius:10px}
#ins{height: 390px;overflow: auto;position: absolute;left: 0;top: 0;width: 630px}
.depotclass{padding:5px 10px;text-align: left;width: 550px;height: 440px;position: relative;}
.depottitle{position: absolute;left: 230px;top:6px;}
.depotclose{position: absolute;right: -5px;top:0px;background: url(../../images/home/shop/x.png);width: 40px;height: 40px;cursor: pointer;}
.depotattr{position: absolute;left: 40px;top:40px;width: 134px;height: 152px;background: url(../img/ui/attr.png);padding: 5px;text-align: left;display: none;z-index:99}
.depotnum{color: #946515}
#outdepots{height: 305px;width: 520px;position: relative;margin-left: 10px;;background: #eee9d3;border-radius:10px}
#indepots{height: 290px;overflow: hidden;position: absolute;left: 0;top: 0;width: 490px;}
#scrollbartop{position:absolute;width: 32px;height: 28px;background: url(../img/ui/top.png);right: 0px;top:0px;cursor: pointer;}
#scrollBars{position:absolute;width: 2px;height: 210px;background: url(../img/ui/lagan.png);right: 15px;top:27px;}
#scrollbarbottom{position:absolute;width: 32px;height: 28px;background: url(../img/ui/bottom.png);right: 0px;bottom:0px;cursor: pointer;}
#handles{position:relative;width:6px;background: url(../img/ui/lakuai.png) no-repeat;margin-left: -2px}
#ulmenu{margin-top: 63px;margin-left: 20px}
#ulmenu li{background:url(../../images/home/shop/noselect.png) no-repeat;font-size: 14px;background-position: center;width: 81px;height: 25px;line-height: 25px;}
#ulmenu a{color: #934f13;text-decoration: none}
.acolor{filter:Dropshadow(offx=1,offy=0,color=#934f13)Dropshadow(offx=0,offy=1,color=#934f13)Dropshadow(offx=0,offy=-1,color=#934f13)Dropshadow(offx=-1,offy=0,color=#934f13);text-shadow:1px 1px 2px #934f13,1px 1px 2px #934f13,1px 1px 2px #934f13,1px 1px 2px #934f13;}

.salebotton{background: url(../img/ui/salebotton.png);width: 40px;height: 16px;margin-left: 10px}
.listti{filter:Dropshadow(offx=1,offy=0,color=#ffffff)Dropshadow(offx=0,offy=1,color=#ffffff)Dropshadow(offx=0,offy=-1,color=#ffffff)Dropshadow(offx=-1,offy=0,color=#ffffff); text-shadow:1px 0 #ffffff,0 1px #ffffff,0 -1px #ffffff,-1px 0 #ffffff;}

#shopallnum{position: absolute;text-align: right;margin-right: 40px;top:87px;right: 50px;color: #8f6b47;font-size: 13px}
#shopbottom{color: #cc7727;}
#rankcontent{height: 305px;width: 520px;position: relative;margin-left: 10px;;background: #eee9d3;border-radius:10px}
.ranknum{padding-top: 10px;width: 100%;text-align: center;color: #966a44;font-size: 15px}
.ranknum span{color: #dd710b}
#rankmenu{position: absolute;right: 60px;top:127px;height: 20px;width: 180px;color: #f09d13}
#rankmenu span{width: 55px;display: inline-block;text-align: center;}
#rankmenu a{color: #ed790c;display: block;font-size: 15px}
.rankinfo{margin-top: 10px;color: #9b6537}
#ranktable{text-align: center;width: 100%;margin-top: 10px;}
#ranktable tr{line-height: 17px;border-bottom: 1px solid #d9c48b;font-size: 14px}
#ranktable img{vertical-align: middle;width: 18px;height: 18px;;margin-right: 10px}
#ranktable .thead{color: white;font-size: 17px;line-height:24px;
filter:Dropshadow(offx=1,offy=0,color=#96653e)Dropshadow(offx=0,offy=1,color=#96653e)Dropshadow(offx=0,offy=-1,color=#96653e)Dropshadow(offx=-1,offy=0,color=#96653e); text-shadow:2px 2px 2px #96653e,2px 2px 2px #96653e,2px 2px 2px #96653e,2px 2px 2px #96653e;}
.rankbottom{position: absolute;bottom: -30px;left: 180px;height: 20px;width: 150px;text-align: center;color: #892424;font-size: 14px;}
#myul .rankbottom{bottom: 0px;}

#marksale{position: absolute;top:30px;left:0px;font-size: 11px;text-align: left;background: #eee;opacity:0.8;line-height: 10px;z-index: 10;width: 50px;display: none}
#produce{position: absolute;left: 185px;top:215px;cursor: pointer;}
#ulpro{white-space: nowrap;}
#ulpro li{width:60px;height:94px;margin-left: 5px;background: url(../img/ui/littlewin2.png) no-repeat;cursor: pointer;}
#ulpro li>div{margin-top: 17px}
#ulpro li img{width: 36px}
.overshow{position: absolute;left: 25%;top:40%;width: 250px;height: 150px;background: url(../img/ui/over.png);z-index: 2;display: none}
#shownewimg{position: absolute;left: 130px;top:48px;width: 50px;height: 50px;text-align: center;}
#protable{width: 130px;margin-top: 20px;margin-left: 20px;text-align: center;color: #84521c}
.formnum{position: absolute;bottom:-20px;left: -15px;width: 100px;height: 20px;text-align: center;color: #dbc597;font-size: 14px;font-weight: bold;
filter:Dropshadow(offx=1,offy=0,color=#5a3e18)Dropshadow(offx=0,offy=1,color=#5a3e18)Dropshadow(offx=0,offy=-1,color=#5a3e18)Dropshadow(offx=-1,offy=0,color=#5a3e18);
text-shadow:1px 0 #5a3e18,0 1px #5a3e18,0 -1px #5a3e18,-1px 0 #5a3e18;}
.proform{width: 643px;height: 145px;position: absolute;bottom:15px;left: 11px;background: url(../img/ui/win.png);}
#showF{position: absolute;top:60px;left: 25px;width: 487px;height: 25px;background: url(../img/ui/describ.png) no-repeat;padding-left: 10px;padding-top: 3px;color:#cda369}
.promix{width: 202px;height: 75px;position: absolute;top:160px;left: 150px;background: url(../img/ui/table.png);text-align: center;}
.promix div{position: absolute;bottom:55px;left: 44px;width: 100px;text-align: center;}
#promaterial{width: 645px;height: 111px;position: absolute;bottom:140px;left: 11px;background: url(../img/ui/material.png);text-align: center;}
.probaseimg{position: absolute;bottom:195px;}
.promaimg{position: absolute;bottom:50px;width: 70px;vertical-align: bottom}
.promixpage{width: 187px;height: 171px;position: absolute;top:95px;right: 90px;background: url(../img/ui/page.png);text-align: center;}
#produceout{position: relative;padding-left: 15px;padding-top: 5px;font-size: 16px;font-weight: bold;color: #b17146;width: 612px}
#producein{overflow: hidden;width: 612px;margin-top: 5px}
#producescrollBar{position:absolute;width: 312px;height: 2px;background: url(../img/ui/pullpro.png);right: 5px;bottom:0px;}
#producehandle{position:relative;height:11px;background: url(../img/ui/pullproh.png) no-repeat;margin-top: -3px}
#mixout{position: relative;float: left;width: 460px;height: 160px;}
#mixin{overflow: hidden;position: absolute;left: 0;top: 0;width: 470px;height: 160px;}
#mixscrollBar{position:absolute;width: 2px;height: 160px;background: url(../img/ui/pull1.png);right: 5px;top:0px;}
#mixhandle{position:relative;width:17px;background: url(../img/ui/pull.png) no-repeat;margin-left: -3px}
.mixline li{display: inline-block;width: 70px;text-align: center;position: relative;margin-top: 1px}
.mixline li a{display: block}
.formmix{position: absolute;width: 45px;height: 45px;left:3px;top:2px;background: url(../img/ui/icon4.png) no-repeat;;opacity:0.5;}
.mixline li img{border-radius:10px;width: 44px;height: 44px;border:2px solid #8d5b2a;background: #ffffff}
.mixline div{cursor: pointer;}
.exitclose{position: absolute;right: -5px;top:55px;background: url(../img/ui/exit.png);width: 40px;height: 40px;cursor: pointer;}
.mixnumber{text-align: center;background: url(../img/ui/icon3.png);width:73px;height: 19px;margin-left: -10px;position: absolute;left: 9px;bottom:-5px;color: #8d5b2a}
.mixtop{padding-top: 5px;font-size:13px;color: #ffffff;filter:Dropshadow(offx=1,offy=0,color=#b17628)Dropshadow(offx=0,offy=1,color=#b17628)Dropshadow(offx=0,offy=-1,color=#b17628)Dropshadow(offx=-1,offy=0,color=#b17628); text-shadow:1px 0 #b17628,0 1px #b17628,0 -1px #b17628,-1px 0 #b17628;}
#mixtop{float: left;width: 47px;height:57px;text-align: center;background:url(../img/ui/icon6.png) no-repeat;margin-left: 10px;text-align: center;margin-top: 10px}
.visa{background: url(../img//ui/icon7.png) no-repeat;margin: auto;text-align: center;width: 42px;height: 24px}
#mixtop>div{cursor: pointer;line-height: 24px}

.signclass{padding:5px 10px;text-align: left;width: 770px;height: 480px;position: relative;}
.signtitle{position: absolute;left: 60px;top:15px;font-size: 14px;color: #af6818;text-align: center;width: 170px;font-weight: bold;}
.signclose{position: absolute;right: -17px;top:8px;background: url(../img/ui/exitbig.png);width: 55px;height: 55px;cursor: pointer;}
#signout{height: 350px;margin-top: 50px;position: relative;}
#signtop{position: absolute;left: 0;top: 0;width: 720px;height: 240px;}
#signtable{text-align: center;width: 620px;margin-left: 65px;margin-top: 40px;font-weight: bold;font-size: 14px}
#signtable td{border:2px solid #e3dcb7;background: #ffffff;width: 14%;}
#signtable thead td{background: #cb6c03;color: white;}
#signtable td div{background-position:center;background-repeat:no-repeat;width: 100%;height: 24px}
#signcenter{position: absolute;right: 100px;top: 258px;cursor: pointer;}
#signbottom{position: absolute;left: 0;top: 300px;width: 720px;height: 240px;}
#signnote{width: 700px;height: 20px;background: url(../img/ui/tempo02.png);margin-left: 25px}
#signnote1{height: 20px;background: url(../img/ui/tempo01.png);margin-left: 25px;z-index:2;margin-top: -20px;width: 0px}
#signcontent{width: 732px;height: 80px;margin-top: 10px;text-align: center;margin-left: 3px}
#signcontent>div{float: left;width: 99px;height: 85px;background: url(../img/ui/gift-box.png) no-repeat;margin-left: 22px;position: relative;}
#signcontent >div> span{color: #cbdb12;font-weight: bold;
filter:Dropshadow(offx=1,offy=1,color=#000000)Dropshadow(offx=1,offy=1,color=#000000)Dropshadow(offx=1,offy=1,color=#000000)Dropshadow(offx=1,offy=1,color=#000000); 
text-shadow:1px 1px 2px black,1px 1px 2px blue,-1px -1px 2px red,-1px -1px 2px green;}
.dialogul{width: 300px}
.dialogul li{margin-left: 10px;float: left;width: 110px;line-height: 40px}
.signco{position: absolute;left: 0px;top:0px;display: none;background: url(../img/ui/get.png) no-repeat;width: 99px;height: 85px;}
.onsignco{position: absolute;left: 0px;top:0px;display: none;background: url(../img/ui/onget.png) no-repeat;width: 99px;height: 85px;cursor: pointer;}
#titsign{filter:Dropshadow(offx=1,offy=1,color=#000000)Dropshadow(offx=1,offy=1,color=#000000)Dropshadow(offx=1,offy=1,color=#000000)Dropshadow(offx=1,offy=1,color=#000000); 
text-shadow:1px 1px 2px black,1px 1px 2px blue,-1px -1px 2px red,-1px -1px 2px green;display: inline-block;margin-left: 5px;margin-right: 5px;font-size: 16px;color: #fefe00}

.uservip{position: absolute;right: 20px;top:16px;cursor: pointer;z-index: 2;color: #9c5e2b}
.eqline{position: absolute;left: 12px;top:80px;}
.deline{background:url(../img/ui/deline.png) no-repeat;position: absolute;left: 45px;top:80px;text-align: center;color: white;width: 425px;height: 21px;font-weight: bold;font-size: 13px;letter-spacing: 8px}
.decohide{position: absolute;width: 55px;height: 55px;left: 0px;top: 0px;z-index:5;background:url(../img/ui/on.png) no-repeat;display: none}
.decodiv{width: 240px;float:left;text-align: left;height: 150px;vertical-align: top;margin-left: 10px;background: #e5e5e5;margin-top: 5px;border: 1px solid #dab591;padding: 2px}
.decodiv .tline li{margin-top: 5px;margin-left: 0}
.decoline{background: #feeecc;border: 2px solid #d8b599;height: 330px;position: relative;}
.decorateline{white-space: nowrap;}
.decorateline li,.decodiv>div:first-child>div:first-child{background: #eeda93;border: 1px solid #dab591;border-radius:2px;width: 55px;height: 55px}
.decorateline li img,.decodiv>div:first-child>div:first-child img{width: 50px;height: 50px}
.decodiv>div:first-child{margin-top: 5px;background: #feeecc;border: 1px solid #d9b79c;border-radius:2px;width: 235px;height: 60px;padding: 2px}
.decodiv>div:first-child>div{float: left;position: relative;}
.depotcu{position: absolute;top:-2px;right: -10px}
.decodiv>div:first-child>div:first-child>.ontime{width: 13px;height: 15px;position: absolute;right: 0px;top:0px}
.timetip{width: 185px;height: 15px;position: absolute;left: 55px;top:0px;line-height: 15px;background: #edda98;color: #555555;border: 1px solid #a68a27;display: none}
.ontime:hover+.timetip{display: block}
.decodiv>div:first-child>div:first-child{color: #8a4508;line-height: 55px;text-align: center;position: relative;}
.decodiv>div:first-child>div:last-child{margin-left: 5px;line-height: 15px;width: 165px;height: 60px;}
.decodiv>div:first-child>div:last-child>span{color: #8a4508}
.dout{position: relative;height: 82px;clear:both}
.dout>img{position: absolute;left: 5px;top:0px}
.din{overflow: hidden;height: 65px;}
.dscrollBar{position:absolute;width: 240px;height: 2px;background: url(../img/ui/pullpro.png);right: 0px;bottom:10px;}
.dhandle{position:relative;height:11px;background: url(../img/ui/pullproh.png) no-repeat;margin-top: -3px}

#seven{position: absolute;right: -2px;bottom: 376px;padding: 5px;z-index:0}
#eight{position: absolute;left: 644px;bottom: 87px;padding: 5px;z-index:1}
.ttline li{color:#9c803e;}
.ttline1 li{background: #dbd1a2;height: 25px;font-size: 20px;line-height:25px;color: white;font-weight: bold;border-radius:5px 5px 0 0}
.ttline2 li{background: #dbd1a2;height: 25px;font-size: 20px;line-height:25px;color: #7d441f;font-weight: bold;border-radius:5px 5px 0 0;margin-left: 100px}

#refresh{position:absolute;width: 60px;height: 60px;background: url(../images/refresh.png) no-repeat;right: 150px;bottom:0px;cursor: pointer;z-index:5}
#userinfo{height: 36px;margin-top: 13px;color: black;font-weight: bolder;font-style: italic;position: relative;}
.formbottom{position: absolute;right:-2px;bottom:-5px;color: #cedfbd;filter:Dropshadow(offx=1,offy=0,color=#74a92b)Dropshadow(offx=0,offy=1,color=#74a92b)Dropshadow(offx=0,offy=-1,color=#74a92b)Dropshadow(offx=-1,offy=0,color=#74a92b); text-shadow:1px 0 #74a92b,0 1px #74a92b,0 -1px #74a92b,-1px 0 #74a92b;}
.showborder{border: 2px solid #dbcf9f;background: white;border-radius:10px;width: 40px;height: 40px;overflow: hidden;cursor: pointer;}
.lockbg{position: absolute;right: 0;top: 0px;display: none}
#ulp li{width:61px;height: 80px;margin-left: 2px;margin-top: 1px;cursor: pointer;}
.ulpbg{background-image:url(../img/ui/littlewin2.png);background-repeat: no-repeat;width: 61px;height: 80px;position: relative;}
.bottomlevel1{font-size: 12px;color: #b26d1e}
.picimg{background: url(../img/ui/window.png) no-repeat;width: 180px;height: 115px;margin-top:10px;position: relative;}
.picimg img{position: absolute;left: 50px;top:15px;width: 82px;height: 82px }
#picinfo{background: url(../img/ui/picpage.png) no-repeat;width: 160px;height: 170px;margin-top:20px;padding-top: 10px;padding-left: 10px;color:#663b0c}
#picinfo table{width: 160px;}
.numpic{color:#b2473d;width: 90px}
#picinfo table td{line-height: 16px;}
.picbottom{position: absolute;bottom: 12px;left: 30px;height: 20px;width: 265px;text-align: center;color: #892424;font-size: 14px}
.turnl{position: absolute;left: 0;cursor: pointer;top:2px}
.turnr{position: absolute;right: 0;cursor: pointer;top:2px}
.dum{text-align: center;ime-mode:disabled;height: 12px;}

#picgot{position: absolute;bottom: 5px;right: 5px}
#ul6 li{width:50px;position: relative;}
.footdepot{position: relative;padding-left: 20px;margin-top: 10px}
.footdepot img{vertical-align: bottom;}
.footdepotright{position: absolute;right: 10px;bottom:0px;width: 180px;height: 18px;}
.footdepotright span{display: inline-block;background: url(../../images/home/shop/length.png);width: 68px;height: 18px;margin-left: 15px;text-align: center;}
.footdepotright a{text-decoration: none;font-weight: bold;display: block;color: #455b06;font-size: 12px;line-height: 16px}
#maxbottomright{position: absolute;width: 140px;height: 20px;right: 10px;bottom: -33px;padding: 5px;z-index:1}
#maxbottomright a{text-decoration:none;color:#eee;padding:5px 10px 5px 10px;background-color:rgb(111,176,36);border-radius:5px;}
#formulainfo{overflow: auto;height: 65px}
#ul5 li{width: 70px;height: 40px;}
.shoptitlediv{position:absolute;left: 130px;top:-18px;font-size: 20px;letter-spacing: 10px;color: gray}
.shopbuy{clear:both;width: 100%;text-align: center;}
.shopbuy img{cursor: pointer;margin-top: 20px}
.lockbutton{margin-top: 18px}
.lockbutton a{text-decoration: none;display: inline-block;background: url(../../images/home/shop/yellow.png);width: 42px;height: 21px;margin-left: 10px}

#exform table{width: 200px;text-align: center;}
#exform table td{line-height: 24px;font-size: 15px;color: #995801;letter-spacing: 1px}

#myul{padding-left: 10px;position: relative;height: 275px}
#myul li{line-height: 16px}

.foodline li{display: inline-block;text-align: center;width: 165px;height: 90px;color: #713c08}
.foodline li>div{background: url(../img/ui/box01.png) no-repeat;width: 165px;height: 90px;position: relative;}
.foodfdiv{float:left;width: 70px;height: 80px;padding-top:8px;}
.foodfdiv img{height: 56px;width: 56px;margin-left: 4px}
.foodsdiv{float:left;width: 90px;height: 80px;padding-top:8px;text-align: left;padding-left: 5px;line-height: 14px}
.foodsdiv>span:first-child{color: white;font-weight: bold;text-align:center;
filter:Dropshadow(offx=1,offy=0,color=#743c09)Dropshadow(offx=0,offy=1,color=#743c09)Dropshadow(offx=0,offy=-1,color=#743c09)Dropshadow(offx=-1,offy=0,color=#743c09); text-shadow:1px 1px 2px #743c09,1px -1px 2px #743c09,-1px 1px 2px #743c09,-1px -1px 2px #743c09;}
.foodsdiv>div{margin-top: 3px;cursor: pointer;}
#fscrollBars{position:absolute;width: 2px;height: 285px;background: url(../img/ui/slider01.png) no-repeat;right: 15px;top:5px;}
#fhandles{position:relative;width:8px;background: url(../img/ui/slider.png) no-repeat;margin-left: -3px}

.cued{position: absolute;width: 200px;text-align: left;color: #743c09;}
#mainequip{left: 60px;}
#importequip{left: 270px;}
.cued img{height: 50px;width: 50px;float:left}
.cued>div{float:left;margin-left: 10px;padding-top: 5px}
.equipb{position: absolute;left: 0px;bottom: -20px}
.yuanbao01{position: absolute;left: 65px;bottom:22px}
.money01{position: absolute;left: 65px;bottom:37px}
.streng01{position: absolute;left: 67px;bottom:6px}

.viptablel{float:left;width: 130px;height: 290px}
.viptabler{float:left;width: 360px;margin-left: -19px;height: 290px;position: relative;}
.viptablel table,.viptabler table{text-align: center;color: #515151;white-space: nowrap;background: #ffffff}
#indepots1{height: 270px;position: absolute;overflow: hidden;width: 370px;}
.viptablel th,.viptabler th{text-align: center;color: #894508}
.viptabler th{color: #d47f00;font-size: 14px}
#scrollBars1{position:absolute;width: 350px;height: 2px;background: url(../img/ui/pullpro.png);right: 15px;bottom:10px;}
#handles1{position:relative;height:11px;background: url(../img/ui/pullproh.png) no-repeat;margin-top: -3px}
.viptabler .vipa{color: white;text-shadow: 1px 1px 1px #bb7028,-1px 1px 1px #bb7028,1px -1px 1px #bb7028,-1px -1px 1px #bb7028}
.viphref{position: absolute;right: 50px;top:100px;color: #7d3e12}