<include file='Common:head' />
<title>公告列表</title>
</head>
<body style='background:0;'>
    <div class=""  style="margin-left:8px;background: #fff;height:725px;">
    <nav class="breadcrumb" style='height: 45px;line-height: 45px;font-size: 16px;'>公告列表</nav>
    <div class="page-container">
        <!--        <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> </span> 
                    <span class="r">共有数据：<strong><{$count}></strong> 条</span> </div>-->
        <div class="mt-0">
            <table class="table   table-hover table-bg ">

                <tbody>
                <volist name='list' id='vo' > 
                    <tr class="text-l" style=" border-bottom: 1px dashed #a7a7a7; color: #a7a7a7;">
                       <td> ▪  <a href="<{:U('Home/Article/articlezhang/',array('id'=>$vo['id']))}>">    <{$vo.art_title}></a></td>
                        <td style='width:160px;'>    <{$vo.art_time|date='Y-m-d H:i:s',###}></td>
                    </tr>
                    </a>
                </volist>
                </tbody>
            </table>  
            <div id="pageNav" class="pageNav"><{$page}></div>
        </div>
    </div>
<include file='Common:foot' />