<include file='Common:head' />
<title></title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 农场管理<span class="c-gray en">&gt;</span> 种植记录 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<form method="post" action="__SELF__">
<div class="pd-20">
  <div class="text-c">
     账号：
    <input type="text" name='username' class="input-text" style="width:120px;" value="<{$arr['username']}>">
      日期范围：
    <input type="text" onFocus="WdatePicker({maxDate:'#F{$dp.$D(\'datemax\')||\'%y-%M-%d\'}'})" id="datemin" name='search_starttime' class="input-text Wdate" style="width:120px;" value="<{$arr['search_starttime']}>">
    -
    <input type="text" onFocus="WdatePicker({minDate:'#F{$dp.$D(\'datemin\')}',maxDate:'%y-%M-%d'})" name='search_endtime' id="datemax" class="input-text Wdate" style="width:120px;" value="<{$arr['search_endtime']}>">
   <button type="submit" class="btn btn-success" id="" ><i class="Hui-iconfont">&#xe665;</i>搜索</button>

  </div>
  </form>
  <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="r">共有数据：<strong><{$count}></strong> 条</span> </div>
  <table class="table table-border table-bordered table-bg table-hover table-sort">
    <thead>
      <tr class="text-c">
        <th width="80">ID</th>
        <th width="150">账号</th>
        <th width="150">植物名称</th>
        <th width="150">图片</th>
        <th width="150">种植时间</th>
        <th width="150">收获时间</th>
        <!--<th width="150">道具次数</th>-->
      </tr>
    </thead>
    <tbody>
	<volist name='list' id='vo'>
      <tr class="text-c">
        <td><{$vo.id}></td>
        <td><{$vo.username}></td>
        <td><{$vo.title}></td>
        <td><img class="picture-thumb" src="/<{$vo.thumb}>" width='50' height='50'></td>
        <td><{$vo.create_date|date='Y-m-d H:i:s',###}></td>
        <td><if condition="$vo.pick_date eq '' " >尚未收获<else/><{$vo.pick_date|date='Y-m-d H:i:s',###}></if></td>
         <!--<td><{$vo.manure}></td>-->
      
	 </tr>
	  </volist>
    </tbody>
  </table>
  <div id="pageNav" class="pageNav"><{$page}></div>
</div>
<include file='Common:foot' />
