<include file='Common:head' />
<title></title>
<style type="text/css">
.msgs{display:inline-block;width:104px;color:#fff;font-size:12px;border:1px solid #0697DA;text-align:center;height:30px;line-height:30px;background:#0697DA;cursor:pointer;}
.msgs1{background:#E6E6E6;color:#818080;border:1px solid #CCCCCC;}
</style>
</head>
<body style="background: 0;">
<div class="" style='margin-left:8px;background: #fff;height:725px;'>
 <nav class="breadcrumb" style='height: 45px;line-height: 45px;font-size: 16px;'>分享链接</nav>
<table class="table table-border table-bordered table-hover table-bg ">
<div class="page-container">

        <div class="mt-0">
            <table class="table table-border table-bordered table-hover table-bg ">
                
                <tbody>
                <tr class="text-c"> 
                        <td class="text-c"> 
                            <span class='info_font_span'>推广链接：</span><input name="" type="text" value='http://<{$url}>' style='width: 400px;font-weight: initial;height:30px;line-height:30px;' id='fe_text'>
                            &nbsp;<input type="button" value='复制' style='background: #d00000; color: #fff; width: 50px;border:0px;height:30px;line-height:30px;font-weight: initial;' id="d_clip_button" class="my_clip_button" data-clipboard-target="fe_text" /><br /></td>
                      
                    </tr>
                    <tr class="text-c"> 
                        <td class="text-c" colspan="2" >    <img src="<{:U('Reg/qrcode')}>"  width='180' height='180'/></td>
                    
                    </tr>
                </tbody>
            </table>  
            <div id="pageNav" class="pageNav"><div>    </div></div>
        </div>
    </div>
<include file='Common:footer' />

